*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

nav{
    position: relative;
    z-index: 1;
}

.navbar-menu{
    background: black;
    height: 50px;
    width: 100%;

    position: fixed;
}

.logo{
    position: absolute;
    color:aliceblue;
    font-size: 30px;
    top:8px;
    left:5%
}

.navbar-menu ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}

.navbar-options li{
    display: inline-block;
    line-height: 50px;
    margin:0 5px;
}

.navbar-options a{
    color: aliceblue;
    text-decoration: none;
    font-size:20px ;
    padding: 5px 10px;
    position: relative;

    border-radius: 3px;
}
/*color del bonton leer mas*/
a:focus, a:hover{
    background: #e07205;
    transition: .5s;
}

.checkbtn{
    font-size: 25px;
    float: right;
    color: aliceblue;
    line-height: 50px;
    margin-right: 25px;
    cursor: pointer;

    display: none;
}

#check{
    display: none;
}
section{
    width: 100%;
}
.banner{
    height: 97vh;
    position: relative;
    background-color: #e07205;
}
.banner-content img{
    margin:5px 0;
    width: 100%;
}
.banner-text{
    position:absolute;
    color: black;
    top:30%;
    left:20%;
    transform: translateX(0) translateY(-45);
}
.banner-text h2{
    font-size: 45px;
}
.banner-text a{
    display: block;
    color:black;
    width:100px;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border:3px solid black;
}
.about{
    height:97vh;
    position: relative;
    background: #e07205;
}
.about-content{
    width: 100%;
    hyphens: 100%;
    padding: 30px 0;
    text-align:center;
}
.about-content h2{
    font-size: 45px;
    text-transform: uppercase;
}
.about-content p, .about-content h2{
    padding: 10px 50px;
}
.about-img{
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    padding:0 50px;
}
.about-imgx{
    width:33%;
    float: left;
}
.img-job{
    width: 280px;
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.testimonios{
    height:100vh ;
    position:relative;
    background: url(../img/Colorful-background.png);
    background-size: cover;
    background-attachment: relative;
    color: black;
}
.testimonios-content{
    width: 100%;
    height: 100%;

    padding: 30px 0;
    text-align: center;
}
.testimonios-content h2{
    font-size: 45px;
    text-transform: uppercase;
}
.testimonios-content p, .testimonios-content h2{
    padding: 10px 50px;
}
.testimonios-group{
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 0 50px;
}
.testimonio-card{
    width: 33%;
    float: left;
}
.img-perfil{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid black;
}
.contacto{
    height: 97vh;
    position: relative;
}
.contacto-content{
    width: 100%;
    height: 100%;
    padding: 30px 0;
    text-align: center;
}
.contacto-content h2{
    font-size: 45px;
    text-transform: uppercase;
}
.contacto-content p, .contacto-content h2 {
    padding: 10px 50px;
}
.contacto-group{
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 0 50px;
}
.form-control{
    width: 85%;
    padding: 0.8rem;
    margin: 0.6rem 0.8rem;
    display: block;
    font-size: 16px;
    outline: 0;

    border-radius: 5px;
    border: 1.5px solid;
}
.send-btn{
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    background: #21427f;
    color: antiquewhite;
    border: none;
    padding:0.7rem 1.5rem;
    margin:0.6rem 1rem;

    cursor: pointer;
    transform: all 0.4s ease;
}
.form-contacto{
    width: 50%;
    float: left;
}
.contacto-img{
    width: 50%;
    float: left;
}
.contacto-img img{
    width: 85%;
    display: block;
    margin: auto;
}

/*Para escritorio*/
@media(max-width:1024px){
    .logo{
        padding-left: 40px;
    }
    .navbar-options li a{
        font-size: 16px;
        padding: 7px 10px;
    }
    .banner{
        height: 89vh;
    }
    .banner-content img{
        margin-top: 50px;
    }
    .about, .testimonios, .contacto{
        height: 100vh;
    }
    .img-job{
        width: 210px;
        height: 210px;
    }
    .testimonio-card{
        font-size: 13px;
    }
    .img-perfil{
        width: 150px;
        height: 150px;
    }
    .form-control{
        width: 75%;
        padding: 0.3rem;
        margin: 0.6rem 1rem;
    }
    .send-btn{
        font-size: 0.8rem;
    }
}

/*Para tablets movil*/
@media(max-width: 768px){
    .checkbtn{
        display: block;
    }

    .navbar-options{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #21427f;
        left: -100%;
        top:50px;
        text-align: center;

        transition: all .5s;
    }

    .navbar-options li{
        display: block;
        border-bottom: 1px solid white; 
        z-index: 1;
    }

    .navbar-options li a{
        font-size: 18px;
    }

    .navbar-menu li:hover{
        background-color: #EEEAEA;

    }

    .navbar-menu a:hover{
        color: black;
    }

    #check:checked ~ ul{
        left:0;
    }
    .banner{
        height: 55vh;
    }
    .banner h2{
        font-size: 30px;
    }
    .banner-text p{
        font-size: 14px;
    }
    .banner-text a{
        font-size: 14px;
        width: 60px;
    }
    .about, .testimonios, .contacto{
        height: 165vh;
    }
    .about-content h2, .testimonio-content, .contacto-content h2{
        font-size: 30px;
    }
    .about-imgx{
        width: 100%;
        margin-bottom: 20px;
    }
    .testimonio-card{
        width: 100%;
        margin-bottom:20px ;
    }
    .form-contacto,.contacto-img{
        width: 100%;
        margin-bottom: 20px;
    }
    .form-control, .send-btn{
        margin-left: auto;
        margin-right: auto;
        width:77%
    }



}